@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset !important; /* slate-900 */
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}